.DS_Store
*/.DS_Store
*tar.gz
sandbox/
build.conStruct.pkg.R
*/.Rapp.history
.Rapp.history
.RData
*.Rout
nohup.out
testing/*/.Rapp.history
testing/*/.RData
testing/*/*.pdf
testing/*/*conStruct.results.Robj
testing/*/*data.block.Robj
testing/*/*model.fit.Robj
testing/*/*.out
testing/*/*.Rout
testing/xval/*.txt
testing/xval/xvals*.Robj
testing/xval/*.xvals.Robj
testing/xval/*data.partitions.Robj
testing/xval/*.xval.results.Robj
src/*.so
src/*.o
src/stan_files/*.o
src/stan_files/*.hpp
testing/xval/*.log
