writeup/*.log
writeup/*.aux
writeup/*.out
writeup/*.gz
code/conStruct/.R*
code/build.conStruct.pkg.R
code/conStruct/.DS_Store
.DS_Store
*/.DS_Store
code/stan_model_blocks/*.DS*
code/conStruct/*.
code/conStruct/R/.R*
writeup/*.bbl
writeup/*.blg
writeup/conStruct.pdf
writeup/figs/sims/*.ai
code/build.conStruct.pkg.Rout
writeup/*.mp
writeup/*.top
writeup/*.tui
code/conStruct/*.gz
sims/cross_validation/K_1/x_validation/*.Robj
sims/cross_validation/K_1/x_validation/*.R
writeup/figs/schematic/*.ai
writeup/figs/schematic/*.pdf
sims/cross_validation/K_*/ms_output
sims/cross_validation/K_*/*out
data/*/*training*
code/tinkering
sims/cross_validation/K_1/ibd.pdf
sims/cross_validation/K_2/exe.sim.in.ms.R
sims/cross_validation/K_3/exe.sim.in.ms.R
sims/cross_validation/K_2/ibd.pdf
sims/cross_validation/K_3/ibd.pdf
