writeup/*.log
writeup/*.aux
writeup/*.out
writeup/*.gz
code/conStruct/.R*
code/build.conStruct.pkg.R
code/conStruct/.DS_Store
.DS_Store
*/.DS_Store
code/stan_model_blocks/*.DS*
code/conStruct/*.
code/conStruct/R/.R*
writeup/*.bbl
writeup/*.blg
writeup/conStruct.pdf
writeup/figs/sims/*.ai
code/build.conStruct.pkg.Rout
writeup/*.mp
writeup/*.top
writeup/*.tui
writeup/*.tmp
code/*tar.gz
code/conStruct/*.tar.gz
sims/cross_validation/K_1/x_validation/*.Robj
sims/cross_validation/K_1/x_validation/*.R
writeup/figs/schematic/*.ai
writeup/figs/schematic/*.pdf
sims/cross_validation/K_*/ms_output
sims/cross_validation/K_*/*out
data/*/*training*
code/tinkering
sims/cross_validation/K_1/ibd.pdf
sims/cross_validation/K_2/exe.sim.in.ms.R
sims/cross_validation/K_3/exe.sim.in.ms.R
sims/cross_validation/K_2/ibd.pdf
sims/cross_validation/K_3/ibd.pdf
data/bears/runs
data/poplars/runs
sims/cross_validation/K_1/runs
sims/cross_validation/K_2/runs
sims/cross_validation/K_3/runs
sims/missing_data
data/poplars/poplar.dataset.Robj
writeup/*.fff
writeup/*.lof
writeup/*.lot
writeup/*.ttt
writeup/*_fig.pdf
writeup/Fig*.pdf
writeup/Table*.pdf
data/poplars/data/FOR_DRYAD_TandB_fwd_june2013_434.txt
sims/structure/datasets/
data/poplars/fastStructure/reps/
writeup/rejection_letter.pdf
writeup/response2appeal.pdf
writeup/response2reviews.pdf
writeup/sub1_vs_sub2_diff.pdf
code/sandbox/
writeup/appeal.pdf
writeup/latex/PLOS-submission-eps-converted-to.pdf
writeup/figs/admixture/simK*
sims/analyses/faststructure/*
data_dryad
sims/analyses/conStruct/runs/K_*/*.Rout
data/bears/conStruct/runs/*.Rout
data/poplars/conStruct/runs/*.Rout
